body {
    margin: 0px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

.w-100 {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

#header {
    background-color: #2874F0;
}