/* Global Settings */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
    /* font-family: 'Roboto Slab', serif; */
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Helper Classes */
.left {
    float: left;
}
.right {
    float: right;
}
.clear::after {
    content: "";
    display: block;
    clear: both;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

/* Generic CSS */

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Header */
#header {
    padding: 20px 0px;
    border-bottom: 1px solid lightgray;
}

#header .logo {
    width: 18%;
}
#header .logo h1 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}
#header .logo h1 a {
    color: #00BFBF;
}
#header .logo h1 a span {
    background-color: #00BFBF;
    color: #fff;
    display: inline-block;
    padding: 6px 3px;
}

#header .search {
    width: 35%;
    position: relative;
}
#header .search input {
    width: 100%;
    height: 35px;
}
#header .search button {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 20px;
    left: 10px;
    top: 10px;
}

#header .user-links {
    width: 45%;
}

#header .user-links ul li {
    display: inline-block;
    font-size: 13px;
    padding: 5px 0px;
    /* margin: 0px 16px; */
}
#header .user-links ul li a {
    color: #000;
    padding: 0px 16px;
    border-right: 1px solid #000;
}
#header .user-links ul li:last-child {
    font-size: 20px;
}
#header .user-links ul li:last-child a {
    border-right: none;
}

/* Banner */
#banner {

}

/* Main-Navigation */
#main-nav .nav-wrapper{
    position: relative;
}
#main-nav ul.menu > li {
    display: inline-block;
}
#main-nav ul.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: #1d1d1d;
    font-size: 14px;
}

#main-nav .mega-dropdown {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0px;
    display: none;
}
#main-nav .mega-dropdown > ul > li {
    width: 25%;
}
#main-nav .mega-dropdown > ul > li > a{
    display: block;
    padding: 20px 10px 20px 30px;
    color: #009393;
    background-color: #f2f8f8;
}
#main-nav .mega-dropdown > ul > li > a:hover {
    background-color: #fff;
}
#main-nav .mega-dropdown .dropdown {
    width: 70%;
    right: 0px;
    top: 0px;
    position: absolute;
    padding: 20px;
    background-color: #fff;
    display: none;
}

#main-nav .mega-dropdown ul li:first-child .dropdown {
    display: block;
}

#main-nav .mega-dropdown .dropdown .col{
    display: inline-block;
    width: 19%;
    font-size: 13px;
    vertical-align: top;
}
#main-nav .mega-dropdown .dropdown ul li {
    margin: 10px 0px;
}
#main-nav .mega-dropdown .dropdown h5 {
    font-size: 14px;
    color: #00BFBF;
    font-weight: normal;
}
#main-nav .mega-dropdown .dropdown ul li a {
    color: #1d1d1d;
}
#main-nav .mega-dropdown .dropdown ul li:hover a {
    color: #00BFBF;
}
#main-nav ul li:hover .mega-dropdown {
    display: block;
}

#main-nav .mega-dropdown ul li:hover .dropdown {
    display: block;
}

#banner {
    margin-bottom: 35px;
}

/* Content */
#content {

}


/* Main */
#main {

}

/* Sidebar */
#sidebar {

}

/* Footer */
#footer {

}


/* Specific CSS */

/* Product */
.products {
    background-color: #F8F8F8;
    /* border: 2px solid #000; */
    padding: 10px;
}
.product {
    display: inline-block;
    width: 22%;
    margin: 0px 5px;
    padding: 10px;
    background-color: #fff;
}

.product .sale-icon {
    width: 25%;
}
.product .sale-left {
    font-size: 12px;
    width: 75%;
}

.product .units-border {
    background-color: #e2e2ea;
    height: 4px;
    position: relative;
    margin-top: 5px;
}
.product .units-border::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 35%;
    height: 100%;
    background-color: #fb8c00;
}

.product .product-img {
    text-align: center;
}

.product .product-discount {
    margin-bottom: 40px;
}
.product .product-discount span{
    border: 1px solid #fb8c00;
    display: inline-block;
    padding: 5px 8px;
    font-size: 13px;
    color: #fb8c00;
}
.product .product-title h4{
    color: #25292b;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px;
}

.product .product-rating {
    margin-bottom: 10px;
}

.product .product-price {
    margin-bottom: 10px;
}

.product .product-premium {
    background-color: rgba(187,234,232,.31);
    padding: 10px;
}

.section {
    margin-bottom: 50px;
}
.section .wrapper {
    box-shadow: 0 2px 3px rgb(0 0 0 / 16%);
}
.section .wrapper .header {
    background-color: #fff;
    padding: 20px 30px;
    position: relative;
}
.section .wrapper .header:after {
    content: "";
    background-color: rgba(0,0,0,.16);
    position: absolute;
    width: 94%;
    height: 1px;
    left: 3%;
    bottom: 0px;
}