body {
    margin: 0px;
    /* width: 50%; */
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#header {
    text-align: center;
    background-color: lightblue;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    /* bottom: 0px; */
    top: 0px;
    z-index: 1;
}

img {
    width: 100%;
}

#content {
    /* margin-top: 130px; */
    width: 1200px;
    margin: 130px auto 0px;
    /* position: relative; */
}

#sidebar_1 {
    margin-top: 300px;
    float: left;
    width: 20%;
    background-color: #eee;
    padding: 10px;
    top: 110px;
    position: sticky;
}

#sidebar_1 ul li {
    padding: 20px 0px;
    border-bottom: 1px solid red;
    text-align:center;
}
#sidebar_1 ul li:hover {
    background-color: #fff;
}

#main {
    float: left;
    width: 48%;
    background-color: #eee;
    margin-left: 1.5%;
    padding: 10px;
    /* position: relative; */
}

#main .image {
    position: relative;
}
#main .icon {
    position: absolute;
    width: 10%;
    left: 50%;
    top: 50%;
    margin-left: -5%;
    margin-top: -5%;
}


#sidebar_2 {
    float: right;
    width: 24%;
    background-color: #eee;
    padding: 10px;
}